@import '../css/base.css';

.deviceInfo {
    font-size: 9pt;
    letter-spacing: 1px;
    margin: 0;
    opacity: .3;
    position: absolute;
    top: .2em;
}

.deviceName {
    composes: deviceInfo;
    left: .5em;
}

.deviceId {
    composes: deviceInfo;
    right: .5em;
}
