@import '../css/base.css';

.statusBar {
    align-items: center;
    display: flex;
    font-size: 9pt;
    justify-content: space-between;
    left: .5em;
    letter-spacing: 1px;
    max-width: 100%;
    opacity: .3;
    position: absolute;
    right: .5em;
    top: .2em;
}

.online {
    width: 1em;
}