@import '../../../css/base.css';

.item {
    composes: input;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    position: relative;
    user-select: none;
    width: 100%;
}

.itemName {
    margin: 0 auto 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itemCheck {
    color: #22C365;
    font-size: 1.5em;
    margin: 0 0 0 .2em;
}

.newItem {
    composes: flexContainer;
    align-items: flex-end;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.newItemProduct {
    margin: 0 .8em 0 0;
    width: 100%;
}

.addNewItem {
    composes: btn;
    flex-shrink: 0;
    margin: 0 .8em 0 0;
}

.resetNewItem {
    composes: btn;
    flex-shrink: 0;
}