@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400');
@import './global.css';
@import './variables.css';

@lost flexbox flex;

/* 600px, 900px, 1200px */
@custom-media --small (max-width: 37.5em);
@custom-media --medium (max-width: 56.25em);
@custom-media --large (max-width: 75em);
/*@custom-media --xlarge (min-width: 75.063em);*/

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flexItem {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 2em 0 0;
}

@media (--small) {
    .flexContainer {
        flex-direction: column;
    }

    .flexItem {
        margin: 0 0 2em;
    }
}

.label {
    composes: label from global;
    display: block;
    margin: 1.2em 0 .4em;
}

.btn {
    background: transparent;
    border: 1px solid #444;
    color: #f9f9f9;
    cursor: pointer;
    font-size: 12pt;
    max-height: 3em;
    min-height: 3em;
    min-width: 3em;
    padding: 0 16px;
    text-transform: uppercase;
    transition: all 300ms ease-out;

    &:enabled:hover, &:enabled:focus {
	border-color: #22C365;
	box-shadow: 0 0 0 8px rgba(34, 195, 101, 0.1);
    }

    &:focus {
	outline: none;
    }

    &:disabled {
        color: #444;
        cursor: default;
    }
}

.input {
    background: #222;
    border: 1px solid #444;
    color: #f9f9f9;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12pt;
    height: 3em;
    padding: 0 14px;
    transition: all 300ms ease-out;
    width: 100%;

    &:enabled:hover, &:enabled:focus {
	border-color: #22C365;
    }

    &:enabled:focus {
	box-shadow: 0 0 0 8px rgba(34, 195, 101, 0.1);
	outline: none;
    }
}

.slider {
    -webkit-appearance: none;
    background: transparent;
    height: 3em;

    &:focus {
	outline: none;
    }

    &::-webkit-slider-runnable-track {
	animate: 0.2s;
	background: #222;
	border: 1px solid #444;
	cursor: pointer;
	height: 12px;
	width: 100%;
    }

    &::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #222;
	border: 1px solid #444;
	cursor: pointer;
	height: 30px;
	margin-top: -11px;
	transition: all 300ms ease-out;
	width: 30px;
    }

    &:focus::-webkit-slider-thumb {
	border-color: #22C365;
	box-shadow: 0 0 0 8px rgba(34, 195, 101, 0.1);
    }
}
