@import './variables.css';

:global(body) {
    background: var(--bgColor);
    color: var(--fgColor);
    margin: 0;
    padding: 2em;

    & *, *:before, *:after {
	box-sizing: border-box;
    }
}

:global(.label) {
    display: block;
    margin: 1.2em 0 .4em;
}
