@import './variables.css';

:global(body) {
    background: var(--bgColor);
    color: var(--fgColor);
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 2em;

    & *, *:before, *:after {
	box-sizing: border-box;
    }
}
