@import '../../css/base.css';

.navBar {
    /* background: #999; */
    background: #222;
    border-top: 1px solid #333;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0.5em;
    position: fixed;
    right: 0;
}

.navSelect {
    composes: input;
    background: #333;
    margin: 0 0.5em;
    width: 15em;

    &:enabled:focus, &:enabled:hover {
        box-shadow: none;
    }
}

.navBtn {
    composes: btn;
    background: #333;

    &:enabled:focus, &:enabled:hover {
        box-shadow: none;
    }

    &:hover {
        opacity: 1;
    }
}

.previous {
    composes: navBtn;
    left: 0;
}

.next {
    composes: navBtn;
    right: 0;
}
